<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200451053105-8v797u68f19o0n6uhoisl0biaufc9bof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200451053105-8v797u68f19o0n6uhoisl0biaufc9bof</string>
	<key>API_KEY</key>
	<string>AIzaSyDes6VR3U8OSWS5NOvmy4tSEfnaA1_1kwM</string>
	<key>GCM_SENDER_ID</key>
	<string>200451053105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yutaro.flutterInstagramclone</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-clone-d1882</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-clone-d1882.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200451053105:ios:11e478cbd36cd15df26710</string>
</dict>
</plist>